<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tela Administrador</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <style>
	td,Th{
	text-align: center;
	}
    </style>
</head>

<body style="text-align:center;">
<div class="container">
	<h2>Você está no modo administrador</h2>
	<p><a href="adicionar/">Adicionar Produto</a></p>

	<table>
    	<thead>
	<Tr>
        <Th>Id</Th>
        <Th>Nome do Produto</Th>
        <Th>Material</Th>
        <th>Tamanho</th>
        <Th>Preço</Th>
        <Th>Quantidade</Th>
        <Th>Ações</Th>
        </Tr>
	</thead>
	<tbody>
	{% for x in listaProdutos %}
  	
	<Tr>
        <td>{{ x.id }}</td>
       	<td>{{ x.nomeprod }}</td>
        <td>{{ x.material }}</td>
        <td>{{ x.tamanho }}</td>
        <td>{{ x.preco }}</td>
        <td>{{ x.quantidade }}</td>
       <td>
          <a href="editar/{{ x.id }}">Editar</a>
          <a href="apagar/{{ x.id }}">Excluir</a>
       </td>
  </Tr>    
{% endfor %}
	</tbody>
</table>
</div>
</body>
</html>
