<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/cadastro.css">
    <title>Cadastro Lua de Prata</title>    
</head>
<body>
        <aside style="display: flex;align-items: center;flex-direction: row;height: 100vh;
        width: 100%;justify-content: center;">
            <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <form method="post">
		        {% csrf_token %}
                    <div style="margin-bottom: 20px;">
                        <h2>Cadastro</h2>
                        <p>Realize seu cadastro para ter acesso ao sistema.</p>
                    </div>
                    <div style="display: flex;flex-direction: column;margin-bottom: 20px;">
                        
                        <label style="margin-top: 5px;">Nome de usuário: </label>
                        {{form_usuario.username}}
                        {{form_usuario.username.errors}}
                        
                        <label style="margin-top: 5px;">Senha: </label>
                        {{form_usuario.password1}}
                        {{form_usuario.password1.errors}}
                        
                        <label style="margin-top: 5px;">Confirmação de senha: </label>
                        {{form_usuario.password2}}                      
                        {{form_usuario.password2.errors}}
                    </div>
                    <div style="display: flex;justify-content: center;">
                        <input style="background-color: #93A9D1;border: 1px solid #93A9D1;
                        border-radius: 10px;width: 240px;height: 35px;
                        color: #fff;font-size: 15px;" type="submit" value="Cadastrar">
                    </div>
                </form>
            </div>
        </aside>
</body>
</html>
